@if (auth.ready()) {
  @if (auth.user()) {
    <app-sidebar />
    @switch (store.activeView()) {
      @case ('chat') {
        <app-chat-panel />
      }
      @case ('agents') {
        <app-agents-page />
      }
      @case ('docs') {
        <app-docs-page />
      }
      @case ('memory') {
        <app-memory-page />
      }
      @case ('tools') {
        <app-tools-page />
      }
      @case ('users') {
        @if (auth.isAdmin()) {
          <app-user-admin />
        }
      }
    }
  } @else {
    <app-auth-page [admin]="store.activeView() === 'users'" />
  }
}
